header{
    background: #BBBBBB;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline; /*display inline es para modificar la orientación de la lista */
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;/* text-transform: uppercase es pra convertir el txto en mayuscula*/
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}